$rk-primary: #ffffff;
$rk-secondary: #f7a611;
$rk-highlight: #11f7b2;

$rk-link: #12adeb;

$rk-sidebar-bg: #474540;
$rk-accordion-active: #000000;

$rk-spinner-bg-color: #dedede;
$rk-spinner-fg-color: #009DD9;