@use 'src/styles/colors';
@use 'src/styles/variables';

$rk-poster-width: 150px;

.rk-history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;

    .rk-history-item-title {
        font-weight: variables.$rk-font-light;
    }

    img {
        width: $rk-poster-width;
        margin-bottom: 10px;
    }

    &:hover {
        border-color: colors.$rk-link;
    }
}