#historyList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #historyList {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    #historyList {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #historyList {
        grid-template-columns: repeat(5, 1fr);
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    #historyList {
        grid-template-columns: repeat(6, 1fr);
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    #historyList {
        grid-template-columns: repeat(7, 1fr);
    }
}